@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>
<a href="/Home/Create">Create</a>
<table class="tablet table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
       
    </tr>

    @foreach (var d in Model)
            {
                <tr>
                    <td>@d.Id</td>
                    <td>@d.Name</td>
                </tr>
            }


</table>